body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.note {
  background-color: #fef68a;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.note-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
.notes-list {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.new {
  background-color: #67d7cc;
}
textarea {
  all: unset;
  background-color: #67d7cc;
  word-wrap: break-word;
}
.save {
  background-color: #e1e1e1;
  border: 1px solid rgb(136, 136, 136);
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
}
.save:hover {
  background-color: #ededed;
  border: 1px solid rgb(5, 5, 5);
  cursor: pointer;
}
.text {
  word-wrap: break-word;
}
.delete-icon:hover {
  cursor: pointer;
}
.search {
  all: unset;
  background-color: #e1e1e1;
  display: flex;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 2px 5px 2px 5px;
  align-items: center;
}
.search input {
  border: none;
  background-color: #e1e1e1;
  width: 93vw;
}
input:focus {
  outline: none;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dark-mode {
  background-color: black;
  transition: 0.5s;
  min-height: 100vh;
}
.dark-mode h1 {
  color: wheat;
}
.dark-mode .settings {
  color: wheat;
}
.ab {
  transition: 0.5s;
  min-height: 100vh;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  display: none;
}
.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #010101;
  border-radius: 34px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.slider:before {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  content: '🌙';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 5px;

  border-radius: 50%;
  transition: transform 0.5s ease;
}

input:checked + .slider {
  background-color: #ffffff;
}

input:checked + .slider:before {
  transform: translateX(26px);
  content: '🔆';
}

.settings {
  width: 1.3rem;
  height: 1.3rem;
  cursor: pointer;
}

.header-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings-menu {
  display: none;

  justify-content: center;
  align-items: start;
  flex-direction: column;
  position: fixed;
  top: 75px;
  margin-left: -210px;
  right: inherit;
  min-width: fit-content;
  padding: 10px 20px 20px 20px;
  color: white;
  background-color: grey;
  border-radius: 10px;
}

.close {
  margin-left: 90%;
  margin-top: 3%;
  margin-bottom: 2%;
  cursor: pointer;
}

.reset-btn {
  background-color: #dadada;
  width: 5rem;
  height: 2rem;
  border-radius: 6px;
  cursor: pointer;
}
